<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        label {
        display:inline-block ;
        width: 100px;
        text-align:center;
       }

    </style>
    <meta charset="UTF-8">
    <title>Form</title>
</head>

<body style="background-color:gray">
<h1 style="color:black;text-align:let">REGISTRATION FORM</h1>

<form action="Task 5 login page.html" method="post">

    <label>User name:</label><input type="text" value="Username" ><br><br>
    <label>Email:</label><input type="email" value="Email"  ><br><br>
    <label>Mobile Number:</label><input type="number" value="Phone number"><br><br>
    <label>Gender:</label><input type="radio">Male<input type="radio">Female<br><br>
    <label>Application:</label><input type="checkbox">I understood the concept<input type="checkbox">I didn't understood the concept<br><br>
    <label>Password:</label><input type="password" value="password"><br>
    <label>Confirm Password:</label><input type="password" value="confirm password"><br><br>
    <label></label><input style="color:green;background-color:yellow;" type="submit" value="SUBMIT" >

</form>

</body>
</html>