{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
    Welcome to your cart...Add products and make the shopping mauch more fun!
{% endblock %}


{% block title %}
    Royalkart PVT LTD
{% endblock %}

{% block contents %}
    {% if not cartitems %}
        <div>
            <div class="text-center">
                <br>
                <h1 class="text-center my_title">Your shopping cart is empty</h1>
                <br>
                <p class="text-center">Please Click <a href="{% url 'ecommerceapp:display_products' %}">Here</a> to shop more</p>
            </div>
        </div>
    {% else %}
        <div>
            <div class="text-center">
                <br>
                <h1 class="text-center my_title">Your Cart</h1>
                <br>
            </div>
            <div class="row mx_auto">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                    <table class="table my_custom_table">
                        <thead class="my_custom_thead">
                        <tr>
                            <th colspan="5">
                                Your Items
                            </th>
                        </tr>
                        </thead>
                        <thead>
                        <tbody>
                        {% for pro in cartitems %}
                            <tr>
                                <td>
                                    <a href="pro.product.get_absolute_url"><img src="{{ pro.product.image.url }}" style="width:100px;height:100px;" alt="" class="float-left rounded custom_image"></a>
                                </td>
                                <td class="text-lef">
                                    {{ pro.product.name }}
                                    <br>
                                    SKU: {{ pro.product.id }}
                                    <br>
                                    Price: ₹{{ pro.product.price }}
                                    <br>
                                    Qty: {{ pro.quantity }} x ₹ {{ pro }}
                                </td>
                                <td>
                                    ₹{{ pro.total }}
                                </td>
                                    {% if pro.quantity < pro.product.stock %}
                                <td>
                                    <a href="{% url 'cartapp:add_cart' pro.product.id %}" class="custom_a"><i class="fa fa-plus custom_icon" ></i>add</a>
                                    &nbsp;<br><a href="{% url 'cartapp:cartdelete' pro.product.id %}" class="custom_a"><i class="fa fa-minus my_custom_icon" ></i>delete</a>
                                    &nbsp;<br><a href="{% url 'cartapp:cartremove' pro.product.id %}" class="custom_a"><i class="fa fa-trash my_custom_icon" ></i>remove</a>
                                </td>
                                    {% else %}
                                <td>
                                    &nbsp;<br><a href="{% url 'cartapp:cartdelete' pro.product.id %}" class="custom_a"><i class="fa fa-minus my_custom_icon" ></i>delete</a>
                                    &nbsp;<br><a href="{% url 'cartapp:cartremove' pro.product.id %}" class="custom_a"><i class="fa fa-trash my_custom_icon" ></i>remove</a>
                                </td>
                                    {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                        </thead>
                    </table>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                    <table class="table my_custom_table">
                    <thead class="my_custom_thead">
                    <tr>
                        <th >Checkout</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            Are you sure? You want to proceed with the payment
                        </td>
                    </tr>
                    <tr>
                        <td style="color:green;">
                            Your Grand Total= <bold style="">{{ total }}</bold>
                        </td>
                    </tr>
                    </tbody>
                    </table>
                    <div class="mx_auto">
                        <a href="{% url 'ecommerceapp:display_products' %}"  style="color:white;" class="btn btn-secondary btn-lg my_custom_button">Continue Shopping</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}