{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
    Explore our wide range of products
{% endblock %}


{% block title %}
    Search
{% endblock %}

{% block contents %}
<div>
    <p class="text-center my_search_text">You have searched for : <b>"{{ querykey }}"</b></p>
</div>
<div class="container">
    <div class="row mx_auto">
        {% for i in productkey %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
            <div class="card text-center" style="min-width:18rem; ">
                <a href="{{ i.get_url }}"><img class="card-img-top my_image" src="{{ i.image.url }}" alt="{{ i.name }}"></a>
                <div class="card-body">
<!--                    <h4>{{ i.name }}</h4>-->
                    <h3>{{ i.name }}</h3>
                    <p>{{ i.price }}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="row mx_auto">
            <p class="text-center my_search_text">0 results found</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}